.header {
  background-color: rgb(246, 249, 248);
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  max-width: 60rem;
  height: 81px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu_list {
  display: flex;
  gap: 50px;
  color: #07043b;
}

.menu_list_item {
  white-space: nowrap;
}

.menu_list_link {
  transition: color 0.3s;
}

.menu_list_link:hover {
  color: mediumpurple;
}

.burger_button {
  position: relative;
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* ---- Hamburger Button START --- */
.hamburger-lines {
  display: block;
  height: 20px;
  width: 26px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #4e5152;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu.show .line1 {
  transform: rotate(45deg);
}

.menu.show .line2 {
  transform: scaleY(0);
}

.menu.show .line3 {
  transform: rotate(-45deg);
}
/* ---- Hamburger Button END --- */

@media only screen and (max-width: 767px) {
  .menu {
    height: 65px;
  }

  .menu_wrapper {
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.8s;
    width: 180px;
    border-left: 1px solid #c5c5c5;
    background-color: #fff;
  }

  .menu_list {
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    height: calc(100% - 65px);
    display: flex;
    gap: 0;
  }

  .menu_list_link {
    padding: 6px 8px;
    display: block;
  }

  .logo img {
    width: 100px;
    height: 25px;
  }

  .menu.show .menu_wrapper {
    transform: translateX(0);
  }

  .burger_button {
    display: block;
  }
}
