.video-player {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-wrapper {
  background-image: url("/imgs/xavier-coiffic-1068988-unsplash.png");
  width: 100%;
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  line-height: 20px;
  row-gap: 10px;
  z-index: 1;
}

.video-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.video-player-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 505px;
  align-items: center;
  row-gap: 10px;
  color: whitesmoke;
  z-index: 999;
}

.jomardoba {
  position: absolute;
  display: flex;
  bottom: 0px;
  align-self: center;
  z-index: 999;
}

.video-player-description h3 {
  font-size: 26px;
  font-weight: bold;
}

.video-player-description a {
  font-size: 26px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.video-player-description a:hover {
  color: rgb(25, 25, 24);
}

.video-player-description img {
  filter: brightness(0) invert(1);
  position: relative;
}

:root {
  --text-color: #8d8d8d;
}

.iconsDiv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4rem;
  border-bottom: 2px solid var(--text-color);
}

.icon1 {
  flex-direction: column;
}

.icon1 img {
  width: 68px;
  height: 68px;
  margin-bottom: 6px;
}

.icon1 h5 {
  font-weight: bolder;
  margin-top: 10px;
}

.icon1 a {
  color: var(--text-color);
}

.icon1 a:hover {
  color: firebrick;
}

@media only screen and (max-width: 768px) {
  .video-player {
    position: relative;
    padding-top: 20px;
  }

  .video-player-description {
    margin-top: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }

  .video-player-description h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .video-player-description h2 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .video-player-description a {
    display: flex;
    align-items: center;
    /* margin: 20px auto; */
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .overlay {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 5px;
    row-gap: 5px;
  }

  .jomardoba {
    width: 60%;
    height: 40%;
    object-fit: cover;
  }

  .iconsDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding-bottom: 20px;
  }

  .icon1 {
    flex-basis: 30%;
  }

  .icon1 img {
    width: 40px;
    height: 40px;
  }

  .icon1 a {
    font-size: 12px;
  }

  .icon1 h6 {
    font-size: 12px;
  }
}
